/*.background-cart {

	background-image: url("/static/images/undraw_prioritise_tgdh.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

}*/

.pesan-sekarang {
	margin-top: 5rem;
}
