<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>


<body class="articlebg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"> </div>
      <div class="col-sm-8">
         <a href="{% url 'article:article' %}" class="btn btn-info" role="button"> << Back to Article </a>
      </div>
      <div class="col-sm-3"> </div>
    </div></div>

  <br><br>
	<div class="container-fluid">
			<br><br>
          <div class="row">
            <div class="col-sm-1"><br></div>
            
            <div class="col-sm-10">
              <p class="x">Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya?</p>
              <hr class="new5" style="border: 2px solid black;">
              <p class="lildesc">Written by Nabilla Tashandra - Kompas. Date released 19 Oktober 2019</p>
              <br>
              <img class="featuredarticle" src="{% static 'images/f.jpg' %}" alt="New York" style="height:70%; width:70%;">
              <br>
              <p class="descarticle">KOMPAS.com - Kita semua tahu bahwa pola makan punya dampak yang berbeda-beda pada setiap individu. Pola makan juga sangat berdampak pada kulit. Banyak mengonsumsi makanan olahan dan tinggi gula, misalnya, terbukti merusak kulit. Sementara, banyak mengonsumsi sumber makanan nabati bisa membuat kulit tampak lebih berkilau dan halus. Sebuah riset secara khusus menyoroti pola makan yang tepat demi kulit yang tampak lebih baik. Studi yang dipublikasikan di Journal of Investigative Dermatology menganalisa salah satu pola makan paling populer, yaitu diet ketogenik.</p>
              <p class="descarticle">Lemak sehat sangat penting untuk microbiome kulit yang sehat. Namun, studi ini menunjukkan, bahkan jenis lemak sehat sekalipun memiliki efek terhadap kulit. Dalam studi yang dilakukan terhadap hewan, para peneliti menganalisa berbagai variasi diet keto tinggi lemak -sebab tidak setiap orang mengikuti setiap rencana makan. Hasilnya, mereka menemukan lemak tertentu berdampak pada kondisi peradangan pada kulit. Diet ketogenik merupakan diet yang berat dalam trigliserida rantai menengah (MCT), seperti minyak kelapa, yang menyebabkan peradangan yang diinduksi psoriasis. Terutama, ketika lemak ini dikombinasikan dengan asam lemak omega-3</p>
              <p class="descarticle">Di sisi lain, para peneliti menemukan, diet keto seimbang dengan trigliserida rantai panjang (LCT), seperti minyak zaitun, minyak kedelai, ikan, kacang-kacangan, dan alpukat, tidak menyebabkan peradangan kulit. Singkatnya, jika kamu mengikuti diet keto dan rentan terhadap gejala-gejala seperti psoriasis, kamu mungkin perlu berhati-hati dengan minyak kelapa.</p>
              <p class="descarticle">Untuk diketahui, minyak kelapa merupakan salah satu bahan baku utama untuk para pelaku diet keto. Namun, MCT telah terbukti memiliki beberapa manfaat kesehatan yang tergolong signifikan, seperti meningkatkan energi, menurunkan kolesterol, mengelola epilepsi, dan lainnya. Jadi, bukan berarti kamu tidak boleh sama sekali mengonsumsi lemak ini. Bahkan, minyak kelapa juga telah terbukti dapat membantu gejala psoriasis ketika dioleskan ke kulit yang meradang. Meskipun penelitian lebih lanjut diperlukan untuk membuat korelasi yang pasti, studi ini hanya menekankan kecantikan kulit benar-benar diciptakan dari dalam dan dimulai dengan pola makan seimbang. Namun, apakah ini merupakan penyebab ruam keto? Penelitian ini bukan yang pertama untuk mengukur efek keto pada microbiome kulit. Para ilmuwan sebelumnya telah menciptakan kondisi yang disebut "ruam keto," setelah mempelajari tingkat peradangan kulit pada individu yang baru beralih ke pola makan keto.</p>
              <br>
            </div>

            <div class="col-sm-1">
             <br>
            </div>
          </div>

          <br> <br>

        </div>
        

</body>