<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Cara Diet Turun Berat Badan yang Aman Tanpa Bahayakan Kesehatan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>


<body class="articlebg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"> </div>
      <div class="col-sm-8">
         <a href="{% url 'article:article' %}" class="btn btn-info" role="button"> << Back to Article </a>
      </div>
      <div class="col-sm-3"> </div>
    </div></div>

  <br><br>
	<div class="container-fluid">
			<br><br>
          <div class="row">
            <div class="col-sm-1"><br></div>
            
            <div class="col-sm-10">
              <p class="x">Cara Diet Turun Berat Badan yang Aman Tanpa Bahayakan Kesehatan</p>
              <hr class="new5" style="border: 2px solid black;">
              <p class="lildesc">Written by Risky Chandra - HelloSehat. Date released 19 Oktober 2019</p>
              <br>
              <img class="featuredarticle" src="{% static 'images/g.jpg' %}" alt="New York" style="height:70%; width:70%;">
              <br>
              <p class="descarticle">Sah-sah saja untuk mulai berdiet jika Anda mau punya berat badan ideal. Namun, Anda harus pintar-pintar membuat strateginya agar rencana diet sehat berjalan mulus tanpa hambatan. Alih-alih berat badan turun, angka di timbangan malah akan melonjak drastis jika salah strategi. Cara diet yang salah juga dapat membahayakan kesehatan tubuh, lho! Lantas, seperti apa cara menurunkan berat badan yang sehat?</p>
              <p class="descarticle">Diet kerap diartikan sebagai upaya menurunkan berat badan dengan cara mengurangi porsi makan dan membatasi jenis makanannya. Itu sebabnya banyak yang beranggapan diet hanya perlu dijalani oleh orang-orang kegemukan yang ingin kurus. Padahal, pengertian diet yang seperti ini kurang tepat.<p>
            <p class="descarticle">Diet dalam artian sebenarnya bukan semata bertujuan menurunkan berat badan. “Diet” adalah kata serapan dari bahasa Inggris yang secara harfiah artinya “makanan yang biasa dimakan”. Kata “diet” itu sendiri berakar dari bahasa Yunani Kuno yang artinya “cara hidup”.</p>
`               <br>
              <p class="descarticle">Dengan demikian, dapat diartikan makna asli dari diet adalah kebiasaan makan yang menjadi gaya hidup. Jadi apabila Anda selama ini terbiasa makan makanan manis, bisa dibilang Anda menjalani diet tinggi gula. Bagi Anda yang terbiasa banyak makan buah dan sayur, Anda sedang berdiet tinggi serat.</p>
`               <br>
              <p class="descarticle">Diet dalam artian murninya juga bisa diartikan sebagai pola makan bergizi seimbang untuk meraih banyak tujuan berbeda, tergantung dari masing-masing individu. Ada yang berdiet memang untuk menurunkan berat badan, menaikkan berat badan, menjaga kesehatan, memulihkan kesehatan setelah sakit, atau mengelola kondisi kesehatan tertentu.</p>
`               <br>
              <p class="descarticle">Melihat definisi diet yang begitu luas dan beragam, maka sekarang kita bisa meluruskan anggapan kuno bahwa diet hanya boleh dijalani orang gemuk. Setiap orang dari segala kalangan dan rentang usia, laki-laki, perempuan, bayi, anak-anak, remaja, dewasa, hingga lansia boleh berdiet. Hanya saja, Anda perlu tahu cara diet yang sehat.</p>
`               <br>
              <p class="descarticle">Pola makan yang sehat dan seimbang membantu setiap organ tubuh bekerja lebih efisien. Jika nutrisi dalam tubuh tidak tercukupi dengan baik, metabolisme tubuh akan menurun sehingga Anda jadi lebih gampang sakit dan mengalami perubahan berat badan secara drastis.</p>
            
              <br>
            </div>

            <div class="col-sm-1">
             <br>
            </div>
          </div>

          <br> <br>

        </div>
        

</body>