{% extends 'base.html' %}

{% load static %}

{% block title %}Article | Cater.ing{% endblock title %}

{% block content %}

<body>


	<div class="container mt-5">
  <h1 style="font-weight: bold; margin: 0.8">FEATURED ARTICLE</h1>
  <hr class="new5" style="border: 2px solid black; ">


  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" ></li>
      <li data-target="#myCarousel" data-slide-to="2" ></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="{% url 'article:artikelsatu' %}">
        <img src="{% static 'images/f.jpg' %}" class="crsl" style="height: 30%">
        <div class="carousel-caption">
          <p class="title">Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya?</p>
        </div>
       </a>
      </div>

      <div class="item">
        <a href="{% url 'article:artikelsatu' %}">
        <img src="{% static 'images/f.jpg' %}" class="crsl">
        <div class="carousel-caption">
          <p class="title" >Diet Tidak Berhasil? Ini Adalah Penyebabnya!</p>
        </div>
      </a>
      </div>
    
      <div class="item">
        <img src="{% static 'images/f.jpg' %}" class="crsl">
        <div class="carousel-caption">
          <p class="title">Waspadai Camilan Berikut ini, Bisa Gagalkan Diet!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  
<br><br><br><br>

  <h2 style="font-weight: bold; margin: 0.8; text-align: center;">ALL ARTICLES</h2>
    <hr class="new5" style="border: 2px solid black; width: 79%; ">
    <br><br> 

    <div style="width: 79%; color: #000000;" class="card bg-info text-white">
    <div class="card-body">
      
    </div>
  </div>

	<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div id = "at" class="col-sm-2"> <img class="featured" src="{% static 'images/f1.jpg' %}"> </div>
    <div id = "at" class="col-sm-7"> 
      <a href="{% url 'article:artikelsatu' %}" style="color: #000000; text-decoration:none">
    	   <p class="title">Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya?</p>  
    	   <p>Kita semua tahu bahwa pola makan punya dampak yang berbeda-beda pada setiap individu. Pola makan juga sangat berdampak pada kulit. Banyak mengonsumsi makanan olahan dan tinggi gula, misalnya, terbukti merusak kulit. Sementara, banyak mengonsumsi sumber makanan nabati bisa membuat kulit tampak lebih berkilau dan halus.....</p> 
       </a>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <br><br><br>
  <div class="row">
    <div class="col-sm-1"></div>
    <div id = "at" class="col-sm-2"> <img class="featured" src="{% static 'images/c.jpg' %}"> </div>
    <div id = "at" class="col-sm-7">
      <a href="{% url 'article:artikeldua' %}" style="color: #000000; text-decoration:none">
    	<p class="title">Cara Diet Turun Berat Badan yang Aman Tanpa Bahayakan Kesehatan</p>
    	<p>Sah-sah saja untuk mulai berdiet jika Anda mau punya berat badan ideal. Namun, Anda harus pintar-pintar membuat strateginya agar rencana diet sehat berjalan mulus tanpa hambatan. Alih-alih berat badan turun, angka di timbangan malah akan melonjak drastis jika salah strategi...</p>
    </a>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br><br><br>

  <div class="row">
    <div class="col-sm-1"></div>
    <div id = "at" class="col-sm-2"> <img class="featured" src="{% static 'images/f1.jpg' %}"> </div>
    <div id = "at" class="col-sm-7"> 
      <a href="{% url 'article:artikelsatu' %}" style="color: #000000; text-decoration:none">
         <p class="title">Diet Keto Bisa Picu Peradangan Kulit, Apa Sebabnya?</p>  
         <p>Kita semua tahu bahwa pola makan punya dampak yang berbeda-beda pada setiap individu. Pola makan juga sangat berdampak pada kulit. Banyak mengonsumsi makanan olahan dan tinggi gula, misalnya, terbukti merusak kulit. Sementara, banyak mengonsumsi sumber makanan nabati bisa membuat kulit tampak lebih berkilau dan halus.....</p> 
       </a>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <br><br><br>
  <div class="row">
    <div class="col-sm-1"></div>
    <div id = "at" class="col-sm-2"> <img class="featured" src="{% static 'images/c.jpg' %}"> </div>
    <div id = "at" class="col-sm-7">
      <a href="{% url 'article:artikeldua' %}" style="color: #000000; text-decoration:none">
      <p class="title">Cara Diet Turun Berat Badan yang Aman Tanpa Bahayakan Kesehatan</p>
      <p>Sah-sah saja untuk mulai berdiet jika Anda mau punya berat badan ideal. Namun, Anda harus pintar-pintar membuat strateginya agar rencana diet sehat berjalan mulus tanpa hambatan. Alih-alih berat badan turun, angka di timbangan malah akan melonjak drastis jika salah strategi...</p>
    </a>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <br><br><br>

</div>

  <h3 style="font-weight: bold; margin: 0.8; text-align: center;">SEARCH</h3>
    <hr class="new5" style="border: 1px solid black; width: 65%; ">

 <div class="container">
        <div class="row">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-7">
                <form method="POST">
                  {% csrf_token %}
                <input class="form-control input-style center-content" type="text" name="word" placeholder="Search any keyword">
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Search</button>
                </form>
              </div>
              <div class="col-sm-1"></div>
        </div>
</div>
<br><br>

<div class="container">
</div>

</body>
{% endblock %}
