{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <form class="text-center">
                <h1>Feel free to ask</h1>
                <input class="form-control input-style center-content" type="text" placeholder="Type something">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
{% endblock %}
