{% extends 'base.html' %}

{% block title %}Order Form | Cater.ing{% endblock title %}

{% block content %}

	<body>
		<div class="container mt-5">

			<br>
			
			<h2 class="pesan-sekarang">Pesan Sekarang!</h2>
				<p>Silakan isi semua datamu di form bawah ini ya! Biar kami tau kamu mau makan apa. Note(s) nggak wajib diisi kok.</p>
				
			<br>
				
				<form method="post">

					<div class="row">
						{% csrf_token %}

						<div class="col-md-5 col-sm-5">
					    	<div class="form-group">
					    	
					    		<label for="usr"><strong>Nama Pemesan</strong></label>
					    		<input type="text" class="form-control" id="usr" placeholder="Type your input here" name="nama">
							</div>
						</div>

						<div class="col-sm-2"> </div>

					    <div class="col-md-5 col-sm-5">
					    	<div class="form-group">
					      		<label for="usr"><strong>Pilihan Menu</strong></label><br>
			    				<span class="help-block"><small>Cara pengisian: menu 1 - kuantitas, menu 2- kuantitas, dst.</small></span>
			    				<input type="text" class="form-control" id="usr" placeholder="Type your input here" name="menu">
					    	</div>
					    </div>

			    	</div>

			    	<br><br>

			    	<div class="row">

						<div class="col-md-5 col-sm-5">
					    	<div class="form-group">
					    		<label for="usr"><strong>Alamat Pengiriman</strong></label>
					      		<input type="text" class="form-control" id="usr" placeholder="Type your input here" name="alamat">
							</div>
						</div>

						<div class="col-sm-2"> </div>

					    <div class="col-md-5 col-sm-5">
					    	<div class="form-group">	
					      		<label for="usr"><strong>Jenis Pembayaran</strong></label>
			      				<input type="text" class="form-control" id="usr" placeholder="Type your input here" name="pembayaran">
					    	</div>
					    </div>

			    	</div>

			    	<br><br>

			    	<div class="row">

						<div class="col-md-5 col-sm-5">			
					    	<div class="form-group">
					    		<label for="usr"><strong>Telp/HP</strong></label>
			      				<input type="text" class="form-control" id="usr" placeholder="Type your input here" name="telepon">
							</div>
						</div>

						<div class="col-sm-2"> </div>

					    <div class="col-md-5 col-sm-5">
					    	<div class="form-group">
					      		<label for="usr"><strong>Note(s)</strong></label>
			      				<textarea class="form-control" rows="3" id="comment" placeholder="Type your input here" name="notes"></textarea>
					    	</div>
					    </div>

			    	</div>

			    	<br>

			    	<div class="row">

			    		<div class="col-md-5 col-sm-5"> </div>

			    		<div class="col-md-2 col-sm-2">
			    			<button type="submit" value="submit" class="btn btn-default">Pesan</button>
			    		</div>

			    		<div class="col-md-5 col-sm-5"></div>

			    	</div>

			    	<div>
			    		{{ terimakasih }}
			    	</div>
				
				</form>
		
		</div>

	</body>

{% endblock %}