a:link, a:visited {
    color: #12908E;
    cursor: context-menu;
}

a:link:active, a:visited:active {
    color: #12908E;
}

.about-us-img {
    width: 200px;
}

.content-about-us h1 {
    color: #16594A;
    font: bold 2.5rem "Playfair Display";
}

.content-about-us p {
    color: #16594A;
    font: normal 1.25rem Poppins;
    margin-bottom: 0% !important;
}

#wrapper {
    background-color: #97CECC;
    min-height: 100vh;
}