{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us | Cater.ing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'css/About-style.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="container-fluid m-auto">
                <div class="row pt-5 pl-5 pr-5">
                    <div class="col-lg-6 col-md-12 px-0 text-left content-about-us">
                        <h1>What are We?</h1>
                        <p>test test test test test test test test</p>
                        <p>test test test test test test test test</p>
                        <p></p>
                    </div>
                    <div class="col-lg-6 col-md-12 px-0 text-center content-our-team">
                        <img src="{% static 'images/undraw_healthy_options_sdo3.svg' %}" alt="Application" class="about-us-img" />
                    </div>
                </div>

                <div class="row pt-5 pl-5 pr-5">
                    <div class="col-lg-6 col-md-12 px-0 text-center content-our-team">
                        <img src="{% static 'images/Artboard 1.png' %}" alt="Application" class="about-us-img" />
                    </div>
                    <div class="col-lg-6 col-md-12 px-0 text-right content-about-us">
                        <h1>What are We Serving?</h1>
                        <p></p>
                    </div>
                </div>

                <div class="row pt-5 pl-5 pr-5">
                    <div class="col-lg-6 col-md-12 px-0 text-left content-about-us">
                        <h1>What are We?</h1>
                        <p></p>
                    </div>
                    <div class="col-lg-6 col-md-12 px-0 text-justify content-our-team">

                    </div>
                </div>

        </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight justify-content-center">
        <div class="p-2 bd-highlight text-center"><a href="{% url 'homepage:homepage' %}">Back to Menu</a></div>
        <div class="p-2 bd-highlight text-center"><a href="{% url 'homepage:our-team' %}">Our Team</a></div>
        <div class="p-2 bd-highlight text-center">About Us</div>
        
    </div>
</body>
</html>